html{
    background-color: #FFF7E5;
}
body{
    /* width: 960px; */
    /* margin: 0 auto; */
    padding-top: 12px;
}

#allphotos{
    width: 100%;
    margin: 0 auto;
}

#photo{
    text-align: center;
}
#aboutmehead {
    font-size: 2em;
    font-family: 'Revalia';
    color: black;
    text-align: center;

}
#photo1{
    text-align: center;
}

.pics {
     margin-left: 50px;
}
img{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
#name{
    font-size: 3em;
    font-family: 'Revalia';
    color: #662200;
    text-align: center;
}
#description{
    color: #404048;
    font-size: 1.4em;
    text-align: center;
    font-family: 'Quantico', sans-serif;
}

.bio{
    font-size: 1.4em;
    color: #404048;
    width: 80%;
    margin: 0px auto 0px auto;
    /* text-align: center ; */
    /* margin-left: 20%; */
    font-family: 'Quantico', sans-serif;
}
.bio span{
    color: #406060;
    /*font-size: 0.9em;*/
}
.bio table{
  font-size: 0.9em;
  border: 1px;
}
/*.bio p {
    display: inline-block;
    position: relative;
}*/
.space{
    margin-bottom: 6px;
}
#links{
    text-align: center;
    padding: 0;
    margin: 0 auto;
    margin-top: 20px;
}
#links li{
    display: inline;
    margin-right: 12px;
}
#links li:hover{
  opacity: 0.8;
}
a{
    text-decoration: none;
    font-family: 'Revalia';
    color: #00008B;
}
.opportunities{
    text-align: center;
    margin-top: 6em;
    font-size: 0.9em;
    color: #022206;
}

/* Measure Camp Logo - HEADER */
.measure-camp-header {
  text-align: center;
  /* background: linear-gradient(to bottom, #373737 0%, #1b1b1b 100%); */
}
.measure-camp-header h3 {
  color: lighten(#DFD7C4,5%);
  margin: 0.3em 0 0em 0;
}
.measure-camp-header .captioncont h3 {
  color: #B74548;
  font-size: 1.2em;
  padding: 0.3em 0;
}
.measure-camp-logo {
  height: 64px;
  display: inherit;
}
.measure-camp-header:hover {
    opacity: 0.5;
}
